<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test?</title>
</head>

      {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<body>

    <header>
        <a href="http://127.0.0.1:8000/admin/"><h2>Python anywhere?</h2></a>
    </header>

    <div class="container">

<h3>Test</h3>
        <hr>
<h4>Snow</h4>

<ol>
  <li>
Химия
  </li>
</ol>

<a href="https://www.pythonanywhere.com/user/snowa/">Python anywhere</a>

    </div>

</body>
</html>